{% extends 'pages/base.html' %}

{% block content %}

<div class="about-content">
    <p>Добро пожаловать на книжный форум <strong>BookHaven</strong>!</p>
    <p>BookHaven – это онлайн-платформа для любителей книг, где вы можете:</p>
    <ul>
        <li>Искать книги по жанрам, авторам и тегам</li>
        <li>Обсуждать прочитанные книги с другими пользователями</li>
        <li>Делиться впечатлениями и рекомендациями</li>
        <li>Отслеживать новинки и бестселлеры</li>
    </ul>

    <h2>Контакты</h2>
    <p>По всем вопросам обращайтесь: <a href="mailto:info@bookhaven.ru">info@bookhaven.ru</a></p>
</div>
{% endblock %}