{% extends 'pages/base.html' %}
{% load book_tags %}

{% block content %}
    <h1>{{ title }}</h1>

    {% if books %}
        <ul>
            {% for book in books %}
                <li>
                    <a href="{% url 'book_detail' book.slug %}">{{ book.title }}</a>
                    - {{ book.author }} ({{ book.year }})
                    <span>Рейтинг: {% book_rating_stars book.rating %}</span>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Книг {{ pub_year }} года не найдено.</p>
    {% endif %}

    <p><a href="{% url 'home' %}">На главную</a></p>
{% endblock %}