{% extends 'pages/base.html' %}

{% block content %}
<div class="form-container">

    <form method="post">
        {% csrf_token %}

        {% if form.non_field_errors %}
        <div class="form-error">
            {% for error in form.non_field_errors %}
                {{ error }}
            {% endfor %}
        </div>
        {% endif %}

        <div class="form-group">
            <label class="form-label">Новый пароль:</label>
            <input type="password" name="new_password1" class="form-input" placeholder="Введите новый пароль">
            {% if form.new_password1.errors %}
            <div class="field-errors">
                {% for error in form.new_password1.errors %}
                    {{ error }}
                {% endfor %}
            </div>
            {% endif %}
        </div>

        <div class="form-group">
            <label class="form-label">Подтверждение пароля:</label>
            <input type="password" name="new_password2" class="form-input" placeholder="Повторите новый пароль">
            {% if form.new_password2.errors %}
            <div class="field-errors">
                {% for error in form.new_password2.errors %}
                    {{ error }}
                {% endfor %}
            </div>
            {% endif %}
        </div>

        <button type="submit" class="btn-primary">Установить новый пароль</button>
    </form>
</div>
{% endblock %}