{% extends 'pages/base.html' %}

{% block content %}
<div class="form-container">

    <form method="post">
        {% csrf_token %}

        {% if form.non_field_errors %}
        <div class="form-error">
            {% for error in form.non_field_errors %}
                {{ error }}
            {% endfor %}
        </div>
        {% endif %}

        <div class="form-group">
            <label class="form-label">Email:</label>
            <input type="email" name="email" class="form-input" placeholder="Введите email, указанный при регистрации">
            {% if form.email.errors %}
            <div class="field-errors">
                {% for error in form.email.errors %}
                    {{ error }}
                {% endfor %}
            </div>
            {% endif %}
        </div>

        <button type="submit" class="btn-primary">Сбросить пароль</button>
    </form>
</div>
{% endblock %}